services:
  nikkydb:
    build: 
      context: . 
      dockerfile: Dockerfile
    container_name: nikkydb
    image: nikky:latest
    hostname: itdb
    restart: always
    volumes:
      - db-vol:/var/lib/postgresql
      # - /home/gen/code/nikky/pylib:/pg/pylib
    environment:
      - PYTHONPATH=/pg/pylib
      - LANG=en_US.UTF-8
      - LC_ALL=en_US.UTF-8
      - LC_CTYPE=en_US.UTF-8
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      
    ports:
      - 5432:5432
      - 8044:8000
      - 8082:8082
    expose:
      - 5432
      - 8044
      - 8082

#############
# postgREST #
#############
  postgrest:
    container_name: postgrest
    image: postgrest/postgrest:latest
    ports:
      - "3000:3000"
    # Available environment variables documented here:
    # https://postgrest.org/en/latest/configuration.html#environment-variables
    environment:
      # The standard connection URI format, documented at
      # https://www.postgresql.org/docs/current/static/libpq-connect.html#LIBPQ-CONNSTRING
      - PGRST_DB_URI=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@nikkydb:5432/${POSTGRES_DB}
      # The name of which database schema to expose to REST clients
      - PGRST_DB_SCHEMA=public
      # The database role to use when no client authentication is provided
      - PGRST_DB_ANON_ROLE=nikky
      # Overrides the base URL used within the OpenAPI self-documentation hosted at the API root path
      #- PGRST_OPENAPI_SERVER_PROXY_URI=http://nikky.yasizo.com:3000

    restart: always

volumes:
    db-vol:
        external: false

networks:
  outside:
    external: true